In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("Flavors.csv")
# df.index += 1
# df.index.name = "ID"
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [35]:
group_by_frame = df.groupby("Base Flavor")[["Flavor Rating", "Texture Rating", "Total Rating"]]

In [ ]:
group_by_frame.mean() 
# mean can only be applied on numeric columns that is why we selected only those columns in the above line 
# if we didnt select only those columns it would have thrown an error

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [41]:
# df.groupby("Base Flavor")[["Flavor Rating", "Texture Rating", "Total Rating"]].mean()

In [39]:
df.groupby("Base Flavor").count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [45]:
df.groupby("Base Flavor")[["Flavor Rating", "Texture Rating", "Total Rating"]].min()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.2             7.0          15.2
Vanilla                2.3             3.4           5.7

In [43]:
df.groupby("Base Flavor").max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [47]:
df.groupby("Base Flavor")[["Flavor Rating", "Texture Rating", "Total Rating"]].sum()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [ ]:
# it is neccessary to select the column for aggregation and also pass a dictionary with column name as key and list of aggregation functions as value
df.groupby("Base Flavor").agg({"Flavor Rating": ["min", "max", "mean", "sum", "count"]})

            Flavor Rating
                      min   max mean   sum count
Base Flavor
Chocolate             8.2   8.8  8.4  25.2     3
Vanilla               2.3  10.0  5.7  34.2     6

In [49]:
df.groupby("Base Flavor").agg({"Texture Rating": ["min", "max", "mean", "sum", "count"]})

            Texture Rating
                       min  max      mean   sum count
Base Flavor
Chocolate              7.0  7.6  7.233333  21.7     3
Vanilla                3.4  8.0  5.650000  33.9     6

In [50]:
# aggregation on multiple columns
df.groupby("Base Flavor").agg({"Flavor Rating": ["min", "max", "mean", "sum", "count"], "Texture Rating": ["min", "max", "mean", "sum", "count"]})

            Flavor Rating                        Texture Rating       \
                      min   max mean   sum count            min  max
Base Flavor
Chocolate             8.2   8.8  8.4  25.2     3            7.0  7.6
Vanilla               2.3  10.0  5.7  34.2     6            3.4  8.0


                 mean   sum count
Base Flavor
Chocolate    7.233333  21.7     3
Vanilla      5.650000  33.9     6

In [ ]:
# we can group by multiple columns as well
group_by_frame = df.groupby(["Base Flavor", "Liked"])[["Flavor Rating", "Texture Rating", "Total Rating"]].mean()

                  Flavor Rating
                           mean   max count   sum
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2
Vanilla     No              3.6   4.7     3  10.8
            Yes             7.8  10.0     3  23.4

In [ ]:
# as well as grouping but we can aggregate on multiple columns as well
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean','max','count','sum']})

                  Flavor Rating
                           mean   max count   sum
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2
Vanilla     No              3.6   4.7     3  10.8
            Yes             7.8  10.0     3  23.4

In [56]:
df.groupby("Base Flavor").describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]